<!-- CREATE A NEW DEAL -->
<div class="d-flex justify-content-center form-wrap p-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Create new deal</h4>
        <form [formGroup]="dealForm" class="needs-validation">
            <div class="row g-3" formGroupName="sender">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="firstName" formControlName="senderFirstName" placeholder="Your First Name" value="" required>
                    <div *ngIf="dealForm.get('sender')!.get('senderFirstName')!.touched && dealForm.get('sender')!.get('senderFirstName')!.invalid" class="alert alert-danger">
                        Your first name should be valid
                    </div>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lastName" formControlName="senderLastName" placeholder="Your Last Name" value="" required>
                    <div *ngIf="dealForm.get('sender')!.get('senderLastName')!.touched && dealForm.get('sender')!.get('senderLastName')!.invalid" class="alert alert-danger">
                        Your last should be valid
                    </div>
                </div>
                <div class="col-12">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="contactNo" formControlName="senderContactNo" placeholder="Contact Number" required>
                        <div *ngIf="dealForm.get('sender')!.get('senderContactNo')!.touched && dealForm.get('sender')!.get('senderContactNo')!.invalid" class="alert alert-danger">
                            Your contact number should be valid.
                        </div>
                    </div>
                </div>
            </div>



            <h5 class="mb-2 mt-2">Enter Receiver details</h5>
            <div class="row g-3" formGroupName="receiver">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="firstName" formControlName="receiverFirstName" placeholder="Receiver First Name" value="" required>
                    <div *ngIf="dealForm.get('receiver')!.get('receiverFirstName')!.touched && dealForm.get('receiver')!.get('receiverFirstName')!.invalid" class="alert alert-danger">
                        Receiver first name should be valid.
                    </div>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lastName" formControlName="receiverLastName" placeholder="Receiver Last Name" value="" required>
                    <div *ngIf="dealForm.get('receiver')!.get('receiverLastName')!.touched && dealForm.get('receiver')!.get('receiverLastName')!.invalid" class="alert alert-danger">
                        Receiver last name should be valid.
                    </div>
                </div>
                <div class="col-12">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="contactNo" formControlName="receiverContactNo" placeholder="Receiver Contact Number" required>
                        <div *ngIf="dealForm.get('receiver')!.get('receiverContactNo')!.touched && dealForm.get('receiver')!.get('receiverContactNo')!.invalid" class="alert alert-danger">
                            Receiver contact number should be valid.
                        </div>
                    </div>
                </div>
            </div>




            <h5 class="mb-2 mt-2">Enter Pick up location details</h5>
            <div class="row g-3" formGroupName="pickUpLocation">
                <div class="col-12">
                    <input type="text" class="form-control " id="address" formControlName="street" placeholder="Street">
                    <div *ngIf="dealForm.get('pickUpLocation')!.get('street')!.touched && dealForm.get('pickUpLocation')!.get('street')!.invalid" class="alert alert-danger">
                        Street should be valid.
                    </div>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control " id="city" formControlName="city" placeholder="City">
                    <div *ngIf="dealForm.get('pickUpLocation')!.get('city')!.touched && dealForm.get('pickUpLocation')!.get('city')!.invalid" class="alert alert-danger">
                        City should be valid.
                    </div>
                </div>

                <div class="col-md-4">
                    <input type="text" class="form-control" id="District" formControlName="district" placeholder="District">
                    <div *ngIf="dealForm.get('pickUpLocation')!.get('district')!.touched && dealForm.get('pickUpLocation')!.get('district')!.invalid" class="alert alert-danger">
                        District should be valid.
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="zip" formControlName="pinCode" placeholder="Pin code">
                    <div *ngIf="dealForm.get('pickUpLocation')!.get('pinCode')!.touched && dealForm.get('pickUpLocation')!.get('pinCode')!.invalid" class="alert alert-danger">
                        Pin code should be valid.
                    </div>
                </div>
            </div>





            <h5 class="mb-2 mt-2">Enter drop point details</h5>
            <div class="row g-3" formGroupName="dropLocation">
                <div class="col-12">

                    <input type="text" class="form-control" id="address" formControlName="street" placeholder="Street">
                    <div *ngIf="dealForm.get('dropLocation')!.get('street')!.touched && dealForm.get('dropLocation')!.get('street')!.invalid" class="alert alert-danger">
                        Street should be valid.
                    </div>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="city" formControlName="city" placeholder="City">
                    <div *ngIf="dealForm.get('dropLocation')!.get('city')!.touched && dealForm.get('dropLocation')!.get('city')!.invalid" class="alert alert-danger">
                        City should be valid.
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="District" formControlName="district" placeholder="District">
                    <div *ngIf="dealForm.get('dropLocation')!.get('district')!.touched && dealForm.get('dropLocation')!.get('district')!.invalid" class="alert alert-danger">
                        District should be valid.
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="zip" formControlName="pinCode" placeholder="Pin Code">
                    <div *ngIf="dealForm.get('dropLocation')!.get('pinCode')!.touched && dealForm.get('dropLocation')!.get('pinCode')!.invalid" class="alert alert-danger">
                        Pin code should be valid.
                    </div>
                </div>
            </div>




            <h5 class="mb-2 mt-2">Enter parcel details</h5>
            <div class="row g-3" formGroupName="parcel">
                <div class="col-md-4">
                    <label for="length" class="form-label">Parcel Approx. Length</label>
                    <input type="text" class="form-control" id="length" formControlName="parcelLength" placeholder="length">
                    <div *ngIf="dealForm.get('parcel')!.get('parcelLength')!.touched && dealForm.get('parcel')!.get('parcelLength')!.invalid" class="alert alert-danger">
                        Parcel Length should be valid.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="weight" class="form-label">Parcel Approx. Weight</label>
                    <input type="text" class="form-control" id="Weight" formControlName="parcelWeight" placeholder="weight">
                    <div *ngIf="dealForm.get('parcel')!.get('parcelWeight')!.touched && dealForm.get('parcel')!.get('parcelWeight')!.invalid" class="alert alert-danger">
                        Parcel weight should be valid.
                    </div>
                </div>
                <div class="col-12">
                    <label for="weight" class="form-label">Special Instructions (If any)</label>
                    <input type="text" class="form-control" id="Weight" formControlName="specialInstruction" placeholder="specialInstructions">
                </div>
            </div>


            <hr class="my-4">
            <button [disabled]="!dealForm.valid" (click)="submitDeal()" class="w-100 btn btn-primary btn-lg" type="button">Submit</button>
        </form>
    </div>
</div>